h1 {
	font-size: 150 px;
	color:rgb(153, 0, 51);
	}
h2 {
	font-size: bold
}
* {
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	font-size:19px;
}
	
.toolbar{
	background-color:rgb(153, 0, 51);
	overflow: hidden;
    float: left;
    display: inline-block;
	padding:20px 342px;
}
.toolbar a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    text-align: center;
}

.toolbar a:hover {
    background-color:gray;
    color: black;  
}
a{
	color:black;
}
html{
	background-image:
}
.fa{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
p{
	font-size: 19px;
}
.col-sm-6 img{
	width:auto;
	height:auto;
	max-height:400px;
	max-width:400px;
}
form{
	font-size:20px;
}
img{
	width:auto;
	height:auto;
	max-width:100%;
}
.container-fluid {
	background-color:rgb(194, 179, 163);
}
	